[middle] {
    width: 90.3%;
    height: 90.3%;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 1.3vw;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: rgba(216, 216, 216, 0.404);
    border-radius: 1.3vw;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.493);
    border-radius: 1.3vw;
}